@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Questrial', sans-serif;
    font-size: 21px;
}

.wrapper {
    padding: 0 15%;
}

.header_nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .navbar-logo {
    height: 65px;
}

nav ul {
    list-style: none;
}

nav ul li, a {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 15px 10px;
    font-size: .87em;
    color: #999;
}

nav ul li:first-child a {
    color: white;
}

nav ul li a:hover {
    color: white;
}

header {
    min-height: 320px;
    background: url('../img/bg-3-compressed.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    gap: 25px;
}

header h1 {
    color: #cfa72a;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: calc(1.625rem + 1.6vw);
}

main h1 {
    margin: 30px 10px;
}

main h2 {
    text-align: center;
}

main ul li, p {
    line-height: 1.55em;
}

main p {
    margin: 10px;
    font-size: 1.1em;
}

.framaform {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    border: none;
    outline: none;
    color: white;
    background-color: #ff9311;
    font-size: 1.1em;
    border-radius: 3px;
    transition: .2s;
}

.button:hover {
    background-color: #f78700;
}

main ul {
    margin: 32px;
}

main ul li {
    font-size: 1em;
}

.edition h2 {
    margin: 30px auto;
    text-align: center;
    font-size: 1.9em;
}

.editions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: stretch;
    grid-row-gap: 15px;
}

.editions-grid img {
    margin: 0 auto;
    max-width: 250px;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
    background-color: #232323;
    color: white;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer > div {
    max-width: 250px;
    margin: 20px 35px;
}

footer h3 {
    text-align: center;
    font-size: 0.89em;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin-left: 5px;
}

footer p, a {
    font-size: 0.6em;
    color: white;
}

footer a {
    text-decoration: none;
    margin: 5px;
}

footer a:hover {
    text-decoration: underline;
}

.contact > a {
    display: block;
    text-align: center;
}

.contact p {
    margin-top: 10px;
}

.social-networks {
    text-align: center;
    margin-bottom: 15px;
}

.fa-brands {
    font-size: 2.4rem;
}
